*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    width: 100%;
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px 0;
}

.Header h2{
    padding-top: 10px;
    font-size: 3rem;
    margin-bottom: 40px;
}
.contenedor-botones{
width: 100%;
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedor-botones>button{
    
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    width: 20%;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.contenedor-botones>button:hover{
    background-color: white;
    color: black;
}

@media screen and (max-width: 500px ) {
    .contenedor-botones>button{
        width: 70%;
        margin-bottom: 10px;
    }

    .contenedor-botones{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
